/* hash tags are used for referencing id tags */
#aibot {
    /* background-color: red; */
    background-image: url("../img/girl-320262_1280.png");
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
};
