{% extends "base.html" %}
{% block content %}
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-6 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">Let Artificial Intelligence pick the movie tonight!</h1>
          <a href="/multiprofiling" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a>
        </div>
      </div>
      <div class="col-lg-6 my-auto">
          <img src="../static/img/girl-320262_1280.png" class="" alt="" style="width:147%; height:147%;"> <!-- class="img=fluid" -->
              </div>
            </div>
          </div>
</header>
{% endblock %}
